<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="grupoasimov.pastillero">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controladores.CrearMedicina"
            android:label="@string/title_activity_CrearMedicina" />
        <activity
            android:name=".controladores.CrearAlarmas"
            android:label="@string/title_activity_CrearAlarmas" />
        <activity android:name=".controladores.MostrarListaMedicinas">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controladores.MostrarAlarma"
            android:label="@string/title_activity_MostrarAlarma" />
        <activity
            android:name=".controladores.CrearPacienteCuidador"
            android:label="@string/title_activity_CrearPacienteCuidador" />
        <activity
            android:name=".controladores.MostrarPacienteCuidador"
            android:label="@string/title_activity_MostrarPacienteCuidador" />
        <activity
            android:name=".controladores.MostrarMedicina"
            android:label="@string/title_activity_MostrarMedicina" />
        <activity
            android:name=".controladores.MostrarAyuda"
            android:label="@string/title_activity_MostrarAyuda" />
        <activity
            android:name=".controladores.AlarmaDeMedicinas">
            android:label="@string/title_activity_AlarmaDeMedicinas"
        </activity>

        <meta-data
            android:name="DATABASE"
            android:value="bd_pastillero7.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="false" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="grupoasimov.pastillero.modelo" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".recibidores.AvisoActualizarAlarmas"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".recibidores.AvisoDeAlarma"
            android:enabled="true"
            android:exported="true">
        </receiver>
    </application>

</manifest>